nav ul {
  list-style: none; 	  
  width: 10em;
  border: 1px solid;
  background-color: silver;

}
nav li {
  margin: 0.5em; 
  border: 1px solid;
  background-color: #eee;
}
nav a {
  text-decoration: none; 
  font-weight: bold;
  color: red; 
  background-color: darkblue;
}

table, th, td {
border: 1px solid black;
}